<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="key.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title></title>
        <style type="text/css">
            body{font-size: 0;}    
        </style>
    </head>
    <body>
        <div class="container">
            <div class="head-top">
                <span>键盘指法和五笔字根练习--我爱五笔网</span>
                <span>
                    <img src="http://bdimg.share.baidu.com/static/images/type-button-2.jpg?cdnversion=20120831" /> 
                </span>
            </div>
            <div class="wrap">
                <div class="logo">
                    <img src="pencil.png">
                    <span>我爱五笔网</span>
                    <a href="">www.52wubi.com</a>
                </div>
                <div class="list">
                    <ul class="list-iner">
                        <li v-for="list in lists">{{ list }}</li>
                        <!-- <li>指法练习</li>
                        <li>五笔练习</li>
                        <li>文章练习</li>
                        <li>编码查询</li>
                        <li>字根表下载</li>
                        <li>输入法下载</li> -->
                    </ul>
                </div>
                <div class="show-key">
                    <a class="key-2" v-for="(item,index) in this_five_key">
                        <span class="key-left b" :class="{'g':this_key_index==index}"></span>
                        <span class="key-2-right b" :class="{'g':this_key_index==index}"></span>
                        <label class="key-font font-top iconfont" v-html="item.top_text" :class="{'one-li':item.is_single_line}"></label> 
                        <label class="key-font font-bottom" v-html="item.bottom_text"></label> </a>
                </div>
                <div class="show-time">
                    <ul>
                        <li>
                            <span class="iconfont" style="color: blue">&#xe600;</span>
                            <span>时间：<label> {{ time_string }}</label></span>  
                        </li>
                        <li>
                            <span class="iconfont" style="color: orange">&#xe601;</span>
                            <span>速度：<label>{{ speed }}</label></span>  
                        </li>
                        <li>
                            <span class="iconfont" style="color: green">&#xe623;</span>
                            <span>正确率：<label>{{ accuracy }}</label></span>  
                        </li>
                        <li>
                            <span class="iconfont" style="color: purple">&#xe621;</span>
                            <span>进度：<label>{{ schedule }}</label></span>  
                        </li>
                    </ul>
                </div>
                <div class="key-wrap">
                    <div class="key-col" v-for="line in keys">
                        <a :class="get_key_class(item)" v-for="item in line.items">
                            <span class="key-left" :class="get_left_color(item)"></span>
                            <span :class="get_key_right(item)"></span>
                            <label class="key-font font-top iconfont" v-html="item.top_text" :class="{'one-li':item.is_single_line}"></label> 
                            <label class="key-font font-bottom">{{ item.bottom_text }}</label> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/jquery-1.11.1.min.js"></script>
        <script src="../js/vue.js"></script>
        <script type="text/javascript" src="origin-keys.js"></script>
        <script type="text/javascript" src="key-new.js"></script>

        <script type="text/javascript">
            init();
            
            // 当窗口大小改变时，设置html的字体
            function window_resize(){
                var width = window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth;
                var font_size = width/20+'px';
                $('html').css('fontSize', font_size);
            }
            window_resize();
            $('.list li').mouseover(function(){
                $(this).addClass('bold').siblings('li').removeClass('bold');
            })
        </script>
    </body>
</html>