ul li{list-style: none;}
ul,li{margin: 0;padding: 0;}
a{text-decoration: none;}
html{font-size: 37.2px !important;}
body{margin: 0 auto;width: 100%;-webkit-font-smoothing: subpixel-antialiased;}
*{box-sizing: border-box;}
@font-face {
  font-family: 'iconfont';  /* project id 324866 */
  src: url('https://at.alicdn.com/t/font_324866_yolexz0576sthuxr.eot');
  src: url('https://at.alicdn.com/t/font_324866_yolexz0576sthuxr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_324866_yolexz0576sthuxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_324866_yolexz0576sthuxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_324866_yolexz0576sthuxr.svg#iconfont') format('svg');
}
.bold{font-weight: bold !important;}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.container { 
    width: 970px;
    margin: 0 auto;
}
.head-top{
    height: .6rem;
    line-height: .6rem;
    width: 86%;
    background-color: #e5e5e6;
    border-bottom:1px solid #DBDBDB;
    color:#676767;
}
.head-top>span{
    font-size: .3rem;
    padding-left: .4rem;
    position: absolute;
    top: 0;
}
.head-top img{
    position: absolute;
    left: 17.8rem;
}
.wrap{
    width: 86%;
    background-color: #fff;
}
.logo{
    font-size: 0;
    height: 1.4rem;
    width: 86%;
    line-height: 1.4rem;
    position: relative;
}
.logo>img{
    display: inline-block;
}
.logo>span{
    font-size: .5rem;
    color: #3df;
    vertical-align: top;
    height: .7rem;
    display: inline-block;
    line-height: .7rem;
}
.logo>a{
    height: .6rem;
    line-height: .6rem;
    font-size: .3rem;
    display: inline-block;
    position: absolute;
    top: .7rem;
    left: 1.4rem;
    color: #000;
    font-weight: bold;
}
.list{
    height: 1rem;
    width: 100%;
    background-color: #249009;
    font-size: 0;
    line-height: 1rem;
}
.list-iner{
    height: .9rem;
    padding-top: .16rem;
}
.list li{
    border-right: 1px solid #e5e5e5;
    padding: 0 .5rem;
    display: inline-block;
    font-size: .32rem;
    height: .68rem;
    line-height: .68rem;
    color: #fff;
}
.key-wrap{
    width: 100%;
    position: relative;
}
.key-col{
    width: 100%;
    height: 1.4rem;
    margin-top: 4px;
    font-size: 0;
}
.key-1{
    width: 1.4rem;
    height: 1.4rem;
    position:relative;
    display: inline-block;
    margin-left: 4px;
}
.g-ml0 { margin-left: 0 !important; }
.key-1-right{
    width: 1.5rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;
}
.key-left{
    width: .4rem;
    height: 1.4rem;
    position: absolute;
    left: 0;
    z-index: 3;
    display: inline-block;
}
.key-wrap span,.show-key span{
    background-image: url('key_bgd.jpg');
    background-repeat: no-repeat;
}
.key-1-right.p{ background-position: -400px 0; }
.key-left.p { background-position: -459px 0; }
.key-1-right.g{ background-position: -400px -60px !important; }
.key-left.g{ background-position: -459px -60px !important; }
.key-1-right.o{ background-position: -396px -120px !important; }
.key-left.o{ background-position: -459px -120px !important; }
.key-1-right.b{ background-position: -400px -178px; }
.key-left.b{ background-position: -459px -178px; }
.key-2{
    width: 2.1rem;
    height: 1.4rem;
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 4px;
}
.key-2-right{
    width: 2.1rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;
}
.key-2-right.p{ background-position: -375px 0; }
.key-2-right.g{ background-position: -375px -60px !important;}
.key-2-right.o{ background-position: -375px -120px !important; }
.key-2-right.b{ background-position: -375px -178px; }
.key-3{
    width: 2.5rem;
    height: 1.4rem;
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 4px;
}
.key-3-right{
    width: 2.5rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;
}
.key-3-right.p{ background-position: -360px 0; }
.key-3-right.g{ background-position: -360px -60px !important; }
.key-3-right.o{ background-position: -360px -120px !important; }
.key-3-right.b{ background-position: -360px -178px; }
.key-4{
    width: 2.8rem;
    height: 1.4rem;
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 4px;
}
.key-4-right{
    width: 2.8rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;

}
.key-4-right.p{ background-position: -348px 0; }
.key-4-right.g{ background-position: -348px -60px !important; }
.key-4-right.o{ background-position: -348px -120px !important; }
.key-4-right.b{ background-position: -348px -178px; }
.key-enter{
    width: 3.1rem;
    height: 1.4rem;
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 4px;
}
.key-enter-right{
    width: 3.1rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;
}
.key-enter-right.p{ background-position: -337px 0; }
.key-enter-right.g{ background-position: -337px -60px !important; }
.key-enter-right.o{ background-position: -337px -120px !important; }
.key-enter-right.b{ background-position: -337px -178px; }
.key-5{
    width: 3.5rem;
    height: 1.4rem;
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 4px;
}
.key-5-right{
    width: 3.5rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;
}
.key-5-right.p{ background-position: -322px 0; }
.key-5-right.g{ background-position: -322px -60px !important; }
.key-5-right.o{ background-position: -322px -120px !important; }
.key-5-right.b{ background-position: -322px -178px; }
.key-6{
    width: 9.5rem;
    height: 1.4rem;
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 4px;
}
.key-6-right{
    width: 9.5rem;
    height: 1.4rem;
    display: inline-block;
    position: absolute;
    left: 0;
}
.key-6-right.p{ background-position: -100px 0; }
.key-6-right.g{ background-position: -100px -60px !important; }

.key-6-right.o{ background-position: -100px -120px !important; }
.key-6-right.b{ background-position: -100px -178px; }
.key-font{
    display:inline-block;
    text-align: center;
    font-size: .4rem;
    color: #333;
    height: .7rem;
    line-height: .7rem;
    width: 100%;
    z-index: 6;
    position: absolute;
}
.font-top{
    top: 0; 
}
.font-bottom{
    bottom: 5px; 
}
.one-li{
    height: 1.4rem !important;
    line-height: 1.4rem !important;
}
.show-key{
    width: 100%;
    height: 1.8rem;
    margin:0 auto;
    line-height: 1.4rem;
    padding: .2rem 200px;
    font-size: 0;
}
.show-time{
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    font-size: 0;
    padding-bottom: 4px;
}
.show-time li{
    width: 120px;
    padding-left: 10px;
    font-size: 12px;
    display: inline-block;
    color: #330;
    vertical-align: top;
}
.show-time span{
    vertical-align: top;
}
.show-time label{
    width: 40px;
    height: 16px;
    color: #000;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
}
[v-cloak]{display: none!important;}