<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title></title>
        <link rel="stylesheet" type="text/css" href="ajax.css">
        <style type="text/css">
        
        </style>
    </head>
    <body>
        <div class="total" id="wrap">
            <ul class="top" v-cloak>
                <li v-for="item in types" class="click_top" :class="{'click': current_type==item}" @click="current_type = item">{{ item.name_cn }}</li>
                <!-- <li data-type="good" data-typename="精华" @click="data_separate(data-typename)">精华</li>
                <li data-type="share" data-typename="分享" @click="data_separate">分享</li>
                <li data-type="ask" data-typename="问答" @click="data_separate">问答</li>
                <li data-type="job" data-typename="招聘" @click="data_separate">招聘</li>
                <li data-type="dev" data-typename="客户端测试" @click="data_separate">客户端测试</li> -->
            </ul>
            <ul class="xian" v-cloak>
                <li v-for="item in items" class="f-col">
                    <div class="li_left">
                        <span class="img_frame"><img :src="item.author.avatar_url">
                        </span>
                        <div class="count">
                            <span class="font_prev">{{ item.reply_count }}</span>
                            <span class="seperate">/</span>
                            <span class="font_next">{{ item.visit_count }}</span>
                        </div> 
                    </div>
                    <div class="li_center">
                        <span v-if="current_type.name_cn=='全部'||(current_type.name_cn!='全部' && !(item.tab_cn=='问答'||item.tab_cn=='分享'))" class="click click_zhiding" :class="item.label_class" id="share" :data-typename="item.tab_cn">{{ item.tab_cn }}</span>
                        <a href="javascript:void(0)" class="font_center" :class="{'p-left-0':is_empty(item)}">{{item.title}}</a>
                    </div>
                    <div class="li_right">
                        <span class="font_right">{{ item.time_text }}</span>
                    </div>
                </li>
            </ul>
            <!--ul class="page-list">
                <li class="per-page page" @click="params_page-=1">&lt;&lt;</li>
                <li v-for="page in pages" class="per-page page" :class="{'b-red':page==params_page}" @click="params_page=page" >{{ page }}</li>
                <li class="per-page page" @click="params_page+=1">&gt;&gt;</li>
            </ul-->
            <span v-if="scrollY>2*innerHeight" class="iconfont scroll-to-top" onclick="window.scrollTo(0,0)">&#xe6c5;</span>
        </div>
        <script src="../js/jquery-1.11.1.min.js"></script>
        <script src="../js/vue.js"></script>
        <script type="text/javascript" src="ajax.js"></script>
        <script>
        $(document).ready(function(){
            init();
        });
        </script>
    </body>
</html>